* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 8vh;
  background-color: #ffe600;
  display: flex;
  justify-content: center;
  align-items: center;
  .header__nav {
    width: 85%;
    display: flex;
    align-items: center;
    gap: 2rem;
    a {
      text-decoration: none;
      .nav__brand {
        display: flex;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .nav__search {
      width: 100%;
      form {
        width: 100%;
        display: flex;
        height: 100%;
        max-width: 100%;
        input {
          flex-grow: 1;
          font-size: 18px;
          color: #333333;
          border: none;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          outline: none;
          padding-left: 1rem;
          &::placeholder {
            color: #999999;
          }
        }
        button {
          height: 40px;
          width: 48px;
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          border: none;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: #eeeeee;
        }
      }
    }
  }
}

.main {
  min-height: 92vh;
  flex-grow: 1;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  .section {
    width: 85%;
    .section__breadcrumb-container {
      margin: 16px 0;
      p {
        font-size: 14px;
        color: #666666;
      }
    }

    .section__search-article {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 4px;
      margin-bottom: 10%;
      a {
        text-decoration: none;
        color: #333333;
        display: flex;
        justify-content: center;
        width: 100%;
        .search-article__result-card {
          display: flex;
          align-items: center;
          width: 95%;
          border-bottom: 2px solid #eeeeee;
          .result-card__img-container {
            margin: 16px;
            img {
              border-radius: 4px;
              width: 180px;
              height: 180px;
            }
          }
          .result-card__info-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            .info-container__paragraph {
              display: flex;
              align-items: center;
              gap: 1rem;
              font-size: 24px;
            }
            h3 {
              font-size: 18px;
            }
          }
        }
      }
    }

    .section__item-article {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 4px;
      padding: 32px;
      margin: 5% 0;
      .item-article__detail-container {
        display: flex;
        max-width: 100%;
        .detail-container__first-div {
          display: flex;
          flex-direction: column;
          .first-div__img-container {
            max-width: 680px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .first-div__description-container {
            padding-top: 5%;
            display: flex;
            flex-direction: column;
            gap: 32px;
            h3 {
              font-size: 28px;
              color: #666666;
              font-weight: 400;
            }
            p {
              font-size: 16px;
              text-align: justify;
              color: #999999;
            }
          }
        }

        .detail-container__second-div {
          display: flex;
          flex-direction: column;
          gap: 32px;
          .second-div__text-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            p {
              font-size: 14px;
            }
            h1 {
              max-width: 75%;
              font-size: 24px;
            }
          }
          .second-div__price-container {
            display: flex;
            align-items: start;
            .price-container__amount-paragraph {
              font-size: 46px;
            }
            .price-container__decimals-paragraph {
              margin-top: 8px;
              font-size: 23px;
            }
          }
          .second-div__button-container {
            display: flex;
            button {
              font-family: "Montserrat", sans-serif;
              width: 100%;
              height: 40px;
              border: none;
              border-radius: 4px;
              background-color: #3a83fa;
              color: #ffffff;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
